<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Console_TelegramBot.Console_TelegramBot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Console_TelegramBot.Console_TelegramBot.ConnString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TG_Test_Bot;Integrated Security=True" />
    </connectionStrings>
    <appSettings>
            <add key="BotKey" value = "5181007101:AAGZ_TEpFLE3SUuc2jfE_8x3qSliH89g8-Q"/>
    </appSettings>
</configuration>